<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <header class="site-header">
    <div class="wrap">
      <a class="site-title" href="/">{{ site.title }}</a>

      


    </div>




    <!-- <nav class="navbar navbar-defualt navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#categories-of-stuff" aria-expanded="false">
            <a class="navbar-brand" href="#"> sabhave </a>
            <span class="sr-only"> Toggle navigation </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="categories-of-stuff">
        <ul class="nav navbar-nav navbar-right">
          {% for p in site.pages %}
          <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}"> {{ p.title }} </a></li>
          {% endfor %}
        </ul>
      </div>
    </nav> -->



    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->

    <!-- <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div> -->

    <!-- <label for="sidebar-checkbox" class="sidebar-toggle"></label> -->

    <!-- <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script> -->
  </header>
</html>
